# Flask Backend Dependencies
flask
flask-cors
snowflake-snowpark-python
pandas
numpy
python-dotenv
pyarrow

# Production Dependencies
gunicorn

# Testing Dependencies
pytest
pytest-flask
pytest-xdist

# For sending emails
brevo-python

# Reporting utilities
fpdf2
APScheduler
